<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Clojure中国社区"/>
    <title>Clojure China</title>
    <link href="/assets/app.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="top-header">
      <div class="navs"></div>
      <div class="actions">
        <a href="#" class="sign-in"><i class="fa fa-github-alt"></i> 登录</a>
      </div>
      <h4 class="logo">
        <a href="/" title="Clojure China"><img src="/assets/clojure.png" alt="Clojure"/></a>
      </h4>
    </div>

    <div id="layout"></div>
  </body>
</html>
