<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Clojure中国社区"/>
    <title>Clojure China</title>
    <link href="/assets/app.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="top-header">
      <div class="navs"></div>
      <div class="actions">
        <a href="#" class="sign-in"><i class="fa fa-github-alt"></i> 登录</a>
      </div>
      <h4 class="logo">
        <a href="/" title="Clojure China"><img src="/assets/clojure.png" alt="Clojure"/></a>
      </h4>
    </div>

    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu pure-menu-open">
          <ul>
            <li class="pure-menu-selected">
              <a href="posts.html"><i class="fa fa-list"></i> 全部</a>
            </li>
            <li>
              <a href="">编程</a>
            </li>
            <li>
              <a href="">新闻</a>
            </li>
            <li>
              <a href="">灌水</a>
            </li>
            <li>
              <a href="">招聘</a>
            </li>
          </ul>
          <a class="pure-button button-success" href="">
            <i class="fa fa-plus-circle"></i> 发布
          </a>
        </div>
      </div>

      <div id="main">
        <div class="main-content">

          <div class="posts">
            <div class="post">
              <div class="avatar">
                <a href="https://github.com/username">
                  <img src="https://avatars2.githubusercontent.com/u/id?s=140" alt="username"/>
                </a>
              </div>
              <div class="info">
                <h3>
                  <a class="category" href="posts.html">编程</a>
                  <span class="separator">/</span>
                  <a href="post.html">大家好</a>
                </h3>
                <div class="time-state">
                  <a href="#luffy">luffy</a>发表于<span class="">10分钟前</span>
                  &bull;
                  <a href="#zoro">zoro</a>回复于<span>7分钟前</span>
                  &bull;
                  共<a href="post.html#replies">1个回复</a>
                </div>
              </div>
            </div>

            <div class="post">
              <div class="avatar">
                <a href="https://github.com/username">
                  <img src="https://avatars2.githubusercontent.com/u/id?s=140" alt="username"/>
                </a>
              </div>
              <div class="info">
                <h3>
                  <a class="category" href="posts.html">编程</a>
                  <span class="separator">/</span>
                  <a href="post1.html">大家好大家好大家好大家好大家好大家好大家好大家好</a>
                </h3>
                <div class="time-state">
                  <a href="#luffy">luffy</a>发表于<span class="">10分钟前</span>
                  &bull;
                  <a href="#zoro">zoro</a>回复于<span>7分钟前</span>
                  &bull;
                  共<a href="post.html#replies">1个回复</a>
                </div>
              </div>
            </div> <!-- .post -->
          </div> <!-- .posts -->

          <ul class="pure-paginator">
            <li><a class="pure-button prev" href="#">&#171;</a></li>
            <li><a class="pure-button" href="#">1</a></li>
            <li><a class="pure-button pure-button-active" href="#">2</a></li>
            <li><a class="pure-button" href="#">3</a></li>
            <li><a class="pure-button" href="#">4</a></li>
            <li><a class="pure-button" href="#">5</a></li>
            <li><a class="pure-button next" href="#">&#187;</a></li>
          </ul>

        </div>
      </div>
    </div>

    <script src="/assets/app.js"></script>
  </body>
</html>
