<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Clojure中国社区"/>
    <title>大家好 - Clojure China</title>
    <link href="/assets/app.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="top-header">
      <div class="navs"></div>
      <div class="actions">
        <a href="#" class="sign-in"><i class="fa fa-github-alt"></i> 登录</a>
      </div>
      <h4 class="logo">
        <a href="/" title="Clojure China"><img src="/assets/clojure.png" alt="Clojure"/></a>
      </h4>
    </div>

    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu pure-menu-open">
          <ul>
            <li>
              <a href="posts.html"><i class="fa fa-list"></i> 全部</a>
            </li>
            <li>
              <a href="#">编程</a>
            </li>
            <li>
              <a href="#">新闻</a>
            </li>
            <li>
              <a href="#">灌水</a>
            </li>
            <li>
              <a href="#">招聘</a>
            </li>
          </ul>
          <a class="pure-button button-success" href="">
            <i class="fa fa-plus-circle"></i> 发布
          </a>
        </div>
      </div>

      <div id="main">
        <div class="middle main-content">
          <h3>大家好</h3>
        </div>

        <div class="sidebar">
          <div class="pure-g">
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
